@model PizzaBox.Client.Models.AccountViewModel

<form action="/account/login" method="post">
<button type="submit" value="Submit">Return to Userpage</button>
</form>
<a href="/account/logout">logout</a>