@model PizzaBox.Client.Models.OrderViewModel

<h1>Order Confirmed!</h1>

@Model.order.Total

<input type="button" value="Return to User Screen" onclick="location.href='@Url.Action("login", "account")?id=' + @Model.order.UserId" />
<a href="/account/logout">logout</a>