@model PizzaBox.Client.Models.OrderViewModel

<h1>Order Confirmed!</h1>

@Model.order.Total

<form action="/shared/user" method="post">
  <button type="submit" value="Submit">Return to Userpage</button>
</form>
<a href="/account/logout">logout</a>