@model PizzaBox.Client.Models.AccountViewModel

<h1>User: @ViewData["Username"]</h1>

<form action="/account/neworder" method="post">
    <button type="submit" value="Submit">New Order</button>
</form>



<a href="/order/history">Order History</a>
<a href="/account/neworder">New Order</a>
<a href="/account/logout">logout</a>
